.footer_config {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 509px;
  background: #2c261e;
}

.main_footer_container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 91px;
  margin-left: 131px;
  width: 1144px;
  height: 377px;
}

.main_footer_container .main_text {
  position: relative;
  width: 340px;
  height: 97.225px;
  margin-top: 19px;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 212.5% */
  color: #e3cb8e;
}

.main_footer_container .contact_links {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 125.28px;
  height: 15.14px;
  margin-top: 11.3px;
  justify-content: space-between;
}

.main_footer_container .parts {
  position: relative;
  display: flex;
  width: 118px;
  height: 188px;
  flex-direction: column;
  margin-left: 283px;
}

.parts .parts_subject {
  position: relative;
  width: 109.98px;
  height: 32.41px;
  color: #c5c8c9;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  /* 141.667% */
}
.parts .divider {
  position: relative;
  width: 45.4px;
  height: 1.91px;
  margin-top: 11.44px;
  background: #e3c08d;
}

.parts .targets {
  position: relative;
  display: block;
  width: 117px;
  height: 129.63px;
  margin-top: 19.6px;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 212.5% */
  color: #e3c08d;
}

.footer_config .liner {
  position: relative;
  width: 1064px;
  height: 0px;
  margin-top: 86px;
  opacity: 0.2;
  border: 1px solid #c5c8c9;
}

.footer_config .copyrights {
  position: relative;
  width: 344px;
  height: 32px;
  margin-top: 15px;

  color: #e3c08d;

  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 212.5% */
}

.footer_config .info {
  position: relative;
  width: 340px;
  height: 206px;
}

.main_footer_container .find_us {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 297px;
  height: 210.99px;
  margin-left: 96.39px;
}

.main_footer_container .find {
  position: relative;
  width: 116px;
  height: 32.91px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  /* 141.667% */
  color: #c5c8c9;
}

.find_us .divider {
  position: relative;
  width: 45.4px;
  height: 1.91px;
  margin-top: 6.81px;
  background: #e3c08d;
}

.find_us .details {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 295px;
  height: 33px;
}

.details .detail_first {
  position: relative;
  width: 15.01px;
  height: 32.91px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  /* 188.889% */
  color: #c5c8c9;
}

.details .detail_second {
  position: relative;
  width: 269.12px;
  height: 32.91px; 
  margin-left: 11.79px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
 
  /* 212.5% */ 
  color: #e3c08d;
}
